@import "tailwindcss";

@theme {
  --color-primary: #41B3CD;
  --color-scondary: #53C7E0;
  --color-light: #68DDF6;
  --text-color: #fff;
  --text-color-dark: #000;
}


body { font-family: Arial, Helvetica, sans-serif }


@layer base {
  /* .img {
    @apply relative before:content['jouh'] before:absolute before:w-50 before:h-50 before:rounded-full before:bg-blue-900 ;
  } */



  label {
   @apply block;
  }

  .update_form {

    & input {
      @apply ring-1 w-full p-2 rounded-md outline-0;
    }
  }

  .inputs div {

    input {
      @apply ring ring-gray-400 rounded-md max-md:w-45 px-3 py-1;
    }

    input.r {
      @apply ring-red-500;
    }
  }

  .jump_btn {
    @apply absolute -rotate-90 w-8.5 h-8.5 flex-center bg-primary rounded-full shadow-md sm:top-[50%] sm:left-full sm:translate-y-[-50%] cursor-pointer hover:bg-light transition-all duration-300 left-[50%] -bottom-4 translate-x-[-50%];
  }

  .icone {
    @apply flex-center bg-primary hover:bg-light transition-all duration-300 w-7.5 h-7.5 rounded-sm cursor-pointer text-white;
  }

  .th {
    @apply px-6 py-4 font-medium;
  }

  .td {
    @apply px-6 py-4;
  }

  tbody {
    tr {
      @apply border-b hover:bg-gray-300 transition-all duration-300 cursor-pointer border-gray-400;
    }

    tr.active {
      @apply bg-[#F3F1FF];
    }
    
  }

  h1 {
    @apply font-bold text-xl;
  }

}

::-webkit-scrollbar {
  display: none;
}


@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}