@import "tailwindcss";

@theme {
  --color-primary: #41B3CD;
  --color-scondary: #53C7E0;
  --color-light: #68DDF6;
  --text-color: #fff;
  --text-color-dark: #000;
}





@layer base {
  /* .img {
    @apply relative before:content['jouh'] before:absolute before:w-50 before:h-50 before:rounded-full before:bg-blue-900 ;
  } */

  .inputs div {

    label {
      @apply block;
    }

    input {
       @apply ring ring-gray-400 rounded-md px-5 py-1;
    }
  }
}


@utility flex-center {
  @apply flex items-center justify-center;
}