@import "tailwindcss";

@theme {
  --color-primary: #41B3CD;
  --color-scondary: #53C7E0;
  --color-light: #68DDF6;
  --text-color: #fff;
  --text-color-dark: #000;
}



@layer base {
  .img {
    @apply before:content[''] absolute;
  }
}


@utility flex-center {
  @apply flex items-center justify-center;
}